footer#main-footer {
    background-color: $light;
    height: 60px;
    margin-top: 30px;
    padding: 20px;
    position: relative;
    @include box-shadow(0, 0, 5px, #999);

    .logo-state {
        float: left;
        height: auto;
        margin: 0 auto;
        padding: 5px;
        @include transition(all, 0.3s, ease-in-out);
        width: auto;

        @include desktop {
            display: none;
        }
    }
    .credits {
        float: right;
        width: auto;
    }

}
.support {
    background-color: $gray-lighter;
    box-sizing: border-box;
    color: $gray-dark;
    display: block;
    padding: 10px 20px;
    text-decoration: underline;
    width: 100%;
}