/* ----- 1: SETTINGS ------- */

.inactive {
  display: none;
}

/* ----- 2: ATOMS ------- */

/* --------------------------------------------------------------------------
SPACING
-------------------------------------------------------------------------- */

/*------------------------------------------------------------------------ */

.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pr-0 {
  padding-right: 0px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.p-0 {
  padding: 0px;
}

.pt-15 {
  padding-top: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pr-15 {
  padding-right: 15px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.p-15 {
  padding: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pr-20 {
  padding-right: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.p-20 {
  padding: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pr-30 {
  padding-right: 30px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.p-30 {
  padding: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pr-40 {
  padding-right: 40px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.p-40 {
  padding: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pr-50 {
  padding-right: 50px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.p-50 {
  padding: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pr-60 {
  padding-right: 60px !important;
}

.pl-60 {
  padding-left: 60px !important;
}

.p-60 {
  padding: 60px;
}

@media screen and (max-width: 640px) {
  .pt-sm-0 {
    padding-top: 0px;
  }

  .pb-sm-0 {
    padding-bottom: 0px;
  }

  .pt-sm-20 {
    padding-top: 20px;
  }

  .pb-sm-20 {
    padding-bottom: 20px;
  }

  .pt-sm-30 {
    padding-top: 30px;
  }

  .pb-sm-30 {
    padding-bottom: 30px;
  }

  .pt-sm-40 {
    padding-top: 40px;
  }

  .pb-sm-40 {
    padding-bottom: 40px;
  }

  .pt-sm-50 {
    padding-top: 50px;
  }

  .pb-sm-50 {
    padding-bottom: 50px;
  }

  .pt-sm-60 {
    padding-top: 60px;
  }

  .pb-sm-60 {
    padding-bottom: 60px;
  }
}

.pl-0 {
  padding-left: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.pl-40 {
  padding-left: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.pl-50 {
  padding-left: 50px;
}

.pr-50 {
  padding-right: 50px;
}

/*------------------------------------------------------------------------ */

.m-0 {
  margin: 0 !important;
}

.mtb--30 {
  margin-top: -30px;
  margin-bottom: -30px;
}

.mt--30 {
  margin-top: -30px;
}

.mb--30 {
  margin-bottom: -30px !important;
}

.mtb-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mtb-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mtb-7 {
  margin-top: 7px;
  margin-bottom: 7px;
}

.mt-7 {
  margin-top: 7px;
}

.mb-7 {
  margin-bottom: 7px !important;
}

.mtb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mtb-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mtb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mtb-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mtb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mtb-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mtb-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mtb-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px !important;
}

@media screen and (max-width: 640px) {
  .mtb-sm--30 {
    margin-top: -30px;
    margin-bottom: -30px;
  }

  .mt-sm--30 {
    margin-top: -30px !important;
  }

  .mb-sm--30 {
    margin-bottom: -30px;
  }

  .mtb-sm-0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .mt-sm-0 {
    margin-top: 0px !important;
  }

  .mb-sm-0 {
    margin-bottom: 0px;
  }

  .mtb-sm-10 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mt-sm-10 {
    margin-top: 10px !important;
  }

  .mb-sm-10 {
    margin-bottom: 10px;
  }

  .mtb-sm-15 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .mt-sm-15 {
    margin-top: 15px !important;
  }

  .mb-sm-15 {
    margin-bottom: 15px;
  }

  .mtb-sm-20 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .mt-sm-20 {
    margin-top: 20px !important;
  }

  .mb-sm-20 {
    margin-bottom: 20px;
  }

  .mtb-sm-30 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .mt-sm-30 {
    margin-top: 30px !important;
  }

  .mb-sm-30 {
    margin-bottom: 30px;
  }

  .mtb-sm-40 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .mt-sm-40 {
    margin-top: 40px !important;
  }

  .mb-sm-40 {
    margin-bottom: 40px;
  }

  .mtb-sm-50 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .mt-sm-50 {
    margin-top: 50px !important;
  }

  .mb-sm-50 {
    margin-bottom: 50px;
  }

  .mtb-sm-60 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .mt-sm-60 {
    margin-top: 60px !important;
  }

  .mb-sm-60 {
    margin-bottom: 60px;
  }
}

.mr-0 {
  margin-right: 0px;
}

.ml-0 {
  margin-left: 0px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-40 {
  margin-right: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-50 {
  margin-right: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.p-rel {
  position: relative;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

@media (max-width: 829px) {
  .sm-order-0 {
    order: 0;
  }

  .sm-order-1 {
    order: 1;
  }

  .sm-order-2 {
    order: 2;
  }

  .sm-order-3 {
    order: 3;
  }
}

.img-center {
  display: block;
  margin: 0 auto;
}

.flex-1 {
  flex: 1;
}

.fz-8 {
  font-size: 8px !important;
}

.fz-11 {
  font-size: 11px !important;
}

.fz-13 {
  font-size: 13px !important;
}

.fz-14 {
  font-size: 14px !important;
}

.fz-15 {
  font-size: 15px !important;
}

.fz-16 {
  font-size: 16px !important;
}

.fz-17 {
  font-size: 17px !important;
}

.fz-18 {
  font-size: 18px !important;
}

.fz-20 {
  font-size: 20px !important;
}

.fz-24 {
  font-size: 24px !important;
}

.fz-26 {
  font-size: 26px !important;
}

.fz-30 {
  font-size: 30px !important;
}

.fz-32 {
  font-size: 32px !important;
}

.fz-40 {
  font-size: 40px !important;
}

.fz-42 {
  font-size: 42px !important;
}

.fz-50 {
  font-size: 50px !important;
}

.fz-60 {
  font-size: 60px !important;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-90 {
  font-weight: 90;
}

.lh-1-2 {
  line-height: 1.2em;
}

.lh-1-6 {
  line-height: 1.6em;
}

.lh-2 {
  line-height: 2em;
}

.lh-17 {
  line-height: 17px;
}

.lh-21 {
  line-height: 21px;
}

.lh-38 {
  line-height: 38px;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.ls-3 {
  letter-spacing: 3px;
}

.ls-4 {
  letter-spacing: 4px;
}

.ls-5 {
  letter-spacing: 5px;
}

.ls-6 {
  letter-spacing: 6px;
}

.ta-r {
  text-align: right;
}

.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

.ff-text {
  font-family: "Open Sans", "Arial", sans-serif;
}

.ff-title {
  font-family: "aleo", serif !important;
}

.bold,
b {
  font-weight: 600;
}

.bolder {
  font-weight: 900;
}

.light {
  font-weight: 200;
}

.italic,
i {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase !important;
}

.nocase {
  text-transform: none;
}

/* ----- 3: LAYOUT ------- */

fieldset input {
  height: 51px;
  border: 1px solid #979797;
  border-radius: 2px;
}

/* ----- 4: COMPONENTS ------- */

.btn,
.section-login-wrapper form .submit-options input[type=submit] {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #31AAC9;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "aleo";
  font-size: 1rem;
  font-weight: bold;
  height: auto;
  line-height: 1.4;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 14px 50px;
  text-align: center;
  transition: all 0.3s;
  white-space: inherit;
  width: auto;
}

.btn.secondary,
.section-login-wrapper form .submit-options input.secondary[type=submit] {
  background-color: #666666;
}

.btn.tertiary,
.section-login-wrapper form .submit-options input.tertiary[type=submit] {
  background-color: #cc0033;
}

.btn:hover,
.section-login-wrapper form .submit-options input[type=submit]:hover {
  border: 0;
  color: #fff;
  text-decoration: none;
  opacity: 0.85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity=85);
}

.card,
.section-login-wrapper .section-register > form,
.section-login-wrapper .section-login .options #multiple-login .login-options {
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  padding: 20px 10px;
}

.card--title {
  color: #111111;
  font-family: "aleo", serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.375rem;
  margin-bottom: 0.5rem;
}

/* ----- 4: AREAS ------- */

.section-login-wrapper h5 {
  font-size: 1.75rem;
  font-family: "aleo", serif;
  font-weight: bold;
}

.section-login-wrapper form fieldset {
  display: flex;
  flex-flow: column;
}

.section-login-wrapper form fieldset:not(:last-of-type) {
  margin-bottom: 25px;
}

.section-login-wrapper form fieldset:last-of-type {
  margin: 0 0 0.875rem;
}

.section-login-wrapper form fieldset label {
  color: #111111;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.375rem;
  margin-bottom: 0.875rem;
}

.section-login-wrapper form fieldset input {
  width: 100%;
}

.section-login-wrapper form .submit-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 60px;
}

.section-login-wrapper form .submit-options a {
  text-align: right;
  color: #666666;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 1.1875rem;
  margin-bottom: 30px;
  font-weight: normal;
}

.section-login-wrapper .section-login .options #multiple-login .login-options .social-login {
  margin-bottom: 60px;
}

.section-login-wrapper .section-login .options #multiple-login .login-options .social-login--title {
  color: #666666;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.375px;
  margin-bottom: 35px;
  text-align: center;
}

.section-login-wrapper .section-login .options #multiple-login .login-options .social-login--content {
  display: flex;
}

.section-login-wrapper .section-login .options #multiple-login .login-options .social-login--content > a {
  display: flex;
  align-items: center;
  flex: 1 1 0;
  color: white;
  padding: 19px 17px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 0.6875rem;
}

.section-login-wrapper .section-login .options #multiple-login .login-options .social-login--content > a:not(:first-child):not(:last-child) {
  margin: 0 10px;
}

.section-login-wrapper .section-login .options #multiple-login .login-options .social-login--content > a img {
  width: 26px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  margin-right: 10px;
}

.section-login-wrapper .section-login .options #multiple-login .login-options .social-login--content > a.facebook {
  background-color: #3B5998;
}

.section-login-wrapper .section-login .options #multiple-login .login-options .social-login--content > a.google {
  background-color: #DD4B39;
}

.section-login-wrapper .section-login .options #multiple-login .login-options .social-login--content > a.google img {
  width: 36px;
}

.section-login-wrapper .section-login .options #multiple-login .login-options .social-login--content > a.linkedin {
  background-color: #007BB6;
}

.section-login-wrapper .section-login .options #multiple-login .login-options .social-login--content > a.linkedin img {
  margin-top: -7px;
}

/* ----- 5: PAGES ------- */

/* ----- 6: VENDORS ------- */

