.controller-auth {
    background-color: var(--mc-gray-100);
  }
  .controller-auth .login {
    max-width: 570px;
    margin: 32px auto;
    padding: 0 16px;
  }
  .controller-auth .login .mapas-card {
    padding: 24px 48px;
  }
  .controller-auth .login .field .multiple-recover-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: var(--mc-primary-500);
    text-decoration: none;
  }
  .controller-auth .login .g-recaptcha {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .controller-auth .login .divider {
    width: 100%;
    border-bottom: 1px solid #BBBBBB;
  }
  .controller-auth .login .social-login {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
  .controller-auth .login .social-login--button {
    text-align: center;
    display: block;
  }
  .controller-auth .login .social-login--button .img {
    width: 50px;
    float: left;
    text-align: left;
    display: flex;
    align-items: center;
  }
  .controller-auth .login .social-login--button .img img {
    height: 16px;
  }
  @media screen and (max-width: 50rem) {
    .controller-auth .login .social-login--button .img {
      width: 39px;
    }
    .controller-auth .login .social-login--button .img img {
      height: 14px;
    }
  }
  .controller-auth .login .social-login--button.google {
    border: var(--mc-border-hairline) var(--mc-low-500);
    color: var(--mc-low-700);
  }
  .controller-auth .login .social-login--button.govbr {
    border: var(--mc-border-hairline) #1351B4;
    background-color: #1351B4;
    color: var(--mc-high-500);
  }
  @media (max-width: 380px) {
    .controller-auth .login .social-login--button.google, .controller-auth .login .social-login--button.govbr {
      font-size: 13px;
    }
  }
  .controller-auth .login .social-login .create {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    align-items: center;
  }
  .controller-auth .register {
    max-width: 570px;
    margin: 32px auto;
    padding: 0 16px;
  }
  .controller-auth .register__title {
    margin: 35px 0;
  }
  .controller-auth .register__title label {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
  .controller-auth .register__title p {
    margin: 8px 0 0;
    font-size: 14px;
    line-height: 19px;
  }
  .controller-auth .register__timeline {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .controller-auth .register__timeline .step {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  .controller-auth .register__timeline .step:first-child {
    width: unset;
  }
  .controller-auth .register__timeline .step:first-child::before {
    content: unset;
  }
  .controller-auth .register__timeline .step:first-child .count {
    background-color: var(--mc-secondary-500);
  }
  .controller-auth .register__timeline .step::before {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    background: var(--mc-gray-100);
    top: 19px;
    transition: background-color 300ms linear, color 300ms;
  }
  .controller-auth .register__timeline .step .count {
    align-items: center;
    background-color: var(--mc-gray-100);
    border-radius: 50%;
    color: var(--mc-gray-300);
    display: flex;
    font-size: 24px;
    font-weight: 700;
    height: 40px;
    justify-content: center;
    line-height: 28px;
    width: 40px;
    z-index: 1;
    transition: background-color 300ms linear, color 300ms;
  }
  .controller-auth .register__timeline .step.active .count {
    background-color: var(--mc-secondary-500);
    color: var(--mc-high-500);
  }
  .controller-auth .register__timeline .step.active::before {
    background-color: var(--mc-secondary-500);
  }
  .controller-auth .register__step .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin: 8px 0 4px;
  }
  .controller-auth .register__step .title .subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-top: 16px;
  }
  .controller-auth .register__step .document-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .controller-auth .register__step .document-label .question {
    display: flex;
    gap: 4px;
    align-items: center;
    background: unset;
    border: unset;
  }
  .controller-auth .register__step .password-rules {
    font-size: 14px;
    line-height: 19px;
    color: var(--mc-secondary-500);
  }
  .controller-auth .register__step .progressbar {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .controller-auth .register__step .progressbar progress[value] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    height: 8px;
    width: 210px;
  }
  .controller-auth .register__step .progressbar progress[value]::-webkit-progress-bar {
    background-color: var(--mc-low-300);
    border-radius: var(--mc-border-radius-sm);
  }
  .controller-auth .register__step .progressbar progress[value]::-webkit-progress-value {
    border-radius: var(--mc-border-radius-sm);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .controller-auth .register__step .progressbar progress[value].fraco::-webkit-progress-value {
    background: red;
  }
  .controller-auth .register__step .progressbar progress[value].medio::-webkit-progress-value {
    background: yellow;
  }
  .controller-auth .register__step .progressbar progress[value].forte::-webkit-progress-value {
    background: green;
  }
  .controller-auth .register__step .divider {
    width: 100%;
    border-bottom: 1px solid #BBBBBB;
  }
  .controller-auth .register__step .social-login {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
  .controller-auth .register__step .social-login--button {
    text-align: center;
    display: block;
  }
  .controller-auth .register__step .social-login--button .img {
    width: 50px;
    float: left;
    text-align: left;
    display: flex;
    align-items: center;
  }
  .controller-auth .register__step .social-login--button .img img {
    height: 16px;
  }
  @media screen and (max-width: 50rem) {
    .controller-auth .register__step .social-login--button .img {
      width: 39px;
    }
    .controller-auth .register__step .social-login--button .img img {
      height: 14px;
    }
  }
  .controller-auth .register__step .social-login--button.google {
    border: var(--mc-border-hairline) var(--mc-low-500);
    color: var(--mc-low-700);
  }
  .controller-auth .register__step .social-login--button.govbr {
    border: var(--mc-border-hairline) #1351B4;
    background-color: #1351B4;
    color: var(--mc-high-500);
  }
  @media (max-width: 380px) {
    .controller-auth .register__step .social-login--button.google, .controller-auth .register__step .social-login--button.govbr {
      font-size: 13px;
    }
  }
  .controller-auth .register__step .term {
    max-height: 600px;
    overflow-y: scroll;
    padding-right: 20px;
  }
  .controller-auth .register__step .term::-webkit-scrollbar {
    width: 6px; /* width of the entire scrollbar */
  }
  .controller-auth .register__step .term::-webkit-scrollbar-track {
    background: unset; /* color of the tracking area */
  }
  .controller-auth .register__step .term::-webkit-scrollbar-thumb {
    background-color: #6C6C6C; /* color of the scroll thumb */
    border-radius: var(--mc-border-radius-pill); /* roundness of the scroll thumb */
  }
  .controller-auth .register__step .button--text {
    color: var(--mc-primary-500);
  }
  .controller-auth .register .mapas-card {
    padding: 24px 48px;
  }
  .controller-auth .v-popper__inner {
    padding: 3px 10px;
  }