.icon-my-account:before {
    content: "î€¸"
}

#multiple-recover {
    display: none;
}

#multiple-login-recover {
    cursor: pointer;
}


/* =Layout
-------------------------------------------------------------- */

.wrap { width: 960px; margin: 0 auto; padding: 0; clear: both; }
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { float: left; margin-left: 10px; margin-right: 10px; moz-box-sizing: border-box; box-sizing: border-box; padding: 1.5rem; }
.col-1 { width: 60px; }
.col-2 { width: 140px; }
.col-3 { width: 220px; }
.col-4 { width: 300px; }
.col-5 { width: 380px; }
.col-6 { width: 460px; }
.col-7 { width: 540px; }
.col-8 { width: 620px; }
.col-9 { width: 700px; }
.col-10 { width: 780px; }
.col-11 { width: 860px; }
.col-12 { width: 940px; }

/* Forms
---------------------------------------------------------------------------*/
.box-registro { 
	margin-top: 10px; 
	color: #666; 
	background: #fff; 
	border-radius: 2px; 
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.15); 
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.15); 
}
#content .box-registro { 
	margin: auto; 
	float: none !important; 
}
.box-registro input[type="text"], 
.box-registro input[type="password"], 
.box-registro input[type="email"] { 
	width: 100%; 
}

/* alertas */

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    width: 35%; 
    margin-left: 25%;
    border: 1px solid;
}

.alert.success {
    border-color: green;
}

.alert.error {
    border-color: red;
    margin-bottom: 0px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.multiple-recover-link {
    float: right;
    font-size: 0.9em;
    color: #666;
}

#main-section .section-login{
    padding-left: 5% !important;
}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 982px) {
    #main-section .box-registro {
        width: 90% !important;
    }

    #main-section .section-login{
        padding-left: 0 !important;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 983px) and (max-width: 1600px) {
    #main-section .box-registro {
        width: 30% !important;
    }

    #main-section .section-login{
        padding-left: 0 !important;
    }
}


