.create-account {
    max-width: 602px;
    margin: 32px auto;
    padding: 0 16px;

    .mapas-card {
        &.card-created {
            margin: 80px 0;
        }
    }
    
    &__title {
        margin: 35px 0;
        label {
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
        }
        p {
            margin: 8px 0 0;
            font-size: 14px;
            line-height: 19px;
        }
    }

    &__timeline {
        margin-bottom: 24px;
        width: 100%;
    }

    &__step {
        .title {
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            margin: 8px 0 4px;

            .subtitle {
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                margin-top: 16px;
            }
        }

        .document-label {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .question {
                display: flex;
                gap: 4px;
                align-items: center;
                background: unset;
                border: unset;
            }
        }

        .password {                
            &-rules {
                font-size: 14px;
                line-height: 19px;
                color: var(--mc-secondary-500);
            }
        }

        .progressbar {
            display: flex;
            align-items: center;
            gap: 8px;

            progress[value] {
                appearance: none;
                height: 8px;
                width: 210px;

                &::-webkit-progress-bar {
                    background-color: var(--mc-low-300);
                    border-radius: var(--mc-border-radius-sm);
                }

                &::-webkit-progress-value {                       
                    border-radius: var(--mc-border-radius-sm);
                    transition: 1s;
                }

                &.fraco {
                    &::-webkit-progress-value {
                        background: red;    
                    }
                }

                &.medio {
                    &::-webkit-progress-value {
                        background: yellow;   
                    }
                }

                &.forte {
                    &::-webkit-progress-value {
                        background: green;    
                    }
                }
            }
        }

        .g-recaptcha {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .divider {
            width: 100%;
            border-bottom: 1px solid #BBBBBB;
        }

        .social-login {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;

            &--button {
                text-align: center;
                display: block;
    
                .img {
                    width: 50px;
                    float: left;
                    text-align: left;
                    display: flex;
                    align-items: center;
    
                    img {
                        height: 16px;    
                    }

                    @media (max-width: 500px) {
                        width: 39px;
                        img {
                            height: 14px;
                        }
                    }
                }
    
                &.google {
                    border: var(--mc-border-hairline) var(--mc-low-500);
                    color: var(--mc-low-700);
                }
    
                &.govbr {
                    border: var(--mc-border-hairline) #1351B4;
                    background-color: #1351B4;
                    color: var(--mc-high-500);
                }

                @media (max-width: 380px) {
                    &.google,
                    &.govbr {
                        font-size: 13px;
                    }
                }
            }   
        }

        .term {
            max-height: 600px;
            overflow-y: scroll;
            padding-right: 20px;

            /* entire scrollbar */
            &::-webkit-scrollbar {
                width: 6px; 
            }
            
            /* tracking area */
            &::-webkit-scrollbar-track {
                background: unset;
            }
            
            /* scroll thumb */
            &::-webkit-scrollbar-thumb {
                background-color: #6C6C6C;
                border-radius: var(--mc-border-radius-pill);
            }
        }

        .button--text {
            color: var(--mc-primary-500);
        }
    }

    &__created {
        .title {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 8px;

            &__icon {
                color: green;
                font-size: 96px;
            }

            &__label {
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                text-align: center;
            }

        }
        .emailSent {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            margin: 0;
            text-align: center;
        }
    }

}