.change-password {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 16px 0 13px;

    &__title {
        line-height: 19px;
        font-size: 14px;
        font-weight: 600;
    }

    &__password {
        align-items: center;
        display: flex;
        gap: 18px;

        &--fakePassword {
            align-items: center;
            display: flex;
            gap: 4px;

            .dot {
                background: black;
                border-radius: 50%;
                height: 8px;
                width: 8px;
            }
        }

        &--edit {
            align-items: center;
            color: var(--mc-helper-500);
            cursor: pointer;
            display: flex;
            gap: 6px;

            .iconify {
                font-size: 15px;
            }
    
            .label {
                cursor: pointer;
                font-size: 14px;
                font-weight: 700;
                line-height: 19px;
            }
        }
    }

    &__modal {
        .modal-content {
            max-width: 570px;

            .password {        
                position: relative;
                        margin-top:1em;
                &-rules {
                    font-size: 14px;
                    line-height: 19px;
                    margin-top:1em;
                    
                    strong {
                        color: var(--mc-secondary-500);
                    }
                }

                .seePassword {
                    background: url('https://api.iconify.design/carbon/view-filled.svg');
                    background-repeat: no-repeat;
                    background-size: 22.5px;
                    background-position-x: center;
                    background-position-y: center;
                    content: "";
                    height: 48px;
                    position: absolute;
                    right: 0;
                    top: 27px;
                    width: 48px;
                }
            }
        }
    }
}