// Component schema (HTML schema for block usage)
// <element class="status-card"> 
//      <element class="status-card--title"> This is the opcional title </element>
//      <element class="status-card--content"> This is the opcional content </element>
// </element>

.modal {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.60);
    border: none !important;
    box-shadow: none !important;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    justify-content: center;
    align-items: center;

    .modal-content {
        @extend .card;
        box-sizing: border-box;
        position: relative;
        text-align: center;
        width: 60%;
        height: fit-content;

        @include mobile {
            width: calc(100% - 30px);
        }

        &--title {
            color: $gray-darker;
            font-size: $font-size-h4;
            font-weight: bold;
            line-height: 1.4;
            margin: 0 0 25px;
            padding: 0;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 30px;
            font-weight: lighter;
            height: 20px;
            line-height: 0.4;
            padding: 10px;
            position: absolute;
            right: 0;
            top: 0px;
            width: 20px;
            z-index: 9999999;
        }

        .text {
            margin-bottom: 25px;
        }

    }

}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}