.login-area {
    display: flex;
    flex-direction: column;
    max-width: 730px;
    margin: 0 auto;

    &.recover {
        padding-top: 60px;
    }

    h6 {
        color: $brand-secondary;
        font-family: $f-title;
        font-size: 1rem;
        letter-spacing: 0;
        line-height: 1.25rem;
        text-align: center;
        margin-bottom: 30px;
        padding-top: 30px;
    }


    .section-login-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;

        &.single-item {
            grid-template-columns: auto;
        }

        @include tablet {
            grid-template-columns: auto;
            padding: 0 .625rem;
        }

        h5 {
            font-size: $font-size-h3;
            font-family: $f-title;
            font-weight: bold;
            text-align: center;
            margin-bottom: 30px;
        }

        form {
            padding-top: 30px;

            fieldset {
                display: flex;
                flex-flow: column;

                &:not(:last-of-type) {
                    margin-bottom: 5px;

                    @include large {
                        margin-bottom: 25px
                    }

                    @include tablet {
                        margin-bottom: 25px
                    }
                }

                &:last-of-type {
                    margin: 0 0 0.875rem;
                }

                label {
                    color: #111111;
                    font-family: $f-body;
                    font-size: $font-size-base;
                    letter-spacing: 0;
                    line-height: 1.375rem;
                    margin-bottom: 0.875rem;
                    display: flex;
                    justify-content: space-between;
                }

                input {
                    width: 100%;
                }
            }

            .progressbar {
                display: flex;
                align-items: center;
                margin-bottom: 30px;

                span {
                    font-size: 11px;
                    font-family: $f-body;
                    font-weight: bold;
                    color: #666666;

                    &:first-of-type {
                        margin-right: 15px;
                    }

                    &:last-of-type {
                        margin-left: 15px;
                    }
                }
            }

            .submit-options {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-bottom: 60px;

                a {
                    text-align: right;
                    color: $brand-secondary;
                    font-family: $f-body;
                    font-size: 0.875rem;
                    letter-spacing: 0;
                    line-height: 1.1875rem;
                    margin-bottom: 30px;
                    font-weight: normal;
                }

                input[type=submit] {
                    @extend .btn;
                }
            }
        }

        .g-recaptcha {
            display: flex;
            justify-content: center;
            margin-bottom: 35px;
        }

        .section-login {
            .options {
                #multiple {
                    &-login {
                        .login-options {
                            @extend .card;

                            .social-login {
                                margin-bottom: 60px;

                                &--title {
                                    color: $brand-secondary;
                                    font-family: $f-body;
                                    font-size: $font-size-base;
                                    letter-spacing: 0;
                                    line-height: 1.375px;
                                    margin-bottom: 35px;
                                    text-align: center;
                                }

                                &--content {
                                    display: flex;

                                    &>a {
                                        display: flex;
                                        align-items: center;
                                        flex: 1 1 0;
                                        color: white;
                                        padding: 12px 8px;
                                        text-decoration: none;
                                        border-radius: 10px;
                                        font-size: 0.6875rem;

                                        @include tablet {
                                            padding: 5px 8px;
                                        }

                                        &:not(:first-child):not(:last-child) {
                                            margin: 0 10px;
                                        }

                                        img {
                                            width: 26px;
                                            filter: brightness(0) invert(1);
                                            margin-right: 6px;

                                            @include tablet {
                                                margin-right: 3px;
                                            }
                                        }

                                        &.facebook {
                                            background-color: #3B5998;
                                        }

                                        &.google {
                                            background-color: #DD4B39;

                                            img {
                                                width: 36px;
                                            }
                                        }

                                        &.linkedin {
                                            background-color: #007BB6;

                                            img {
                                                // fix logo dot
                                                margin-top: -7px;
                                            }
                                        }
                                    }
                                }
                            }

                            .account-link {
                                display: none;

                                @include tablet {
                                    display: block;
                                }

                                button,
                                & {
                                    border: none;
                                    text-align: center;
                                    color: #111111;
                                    font-family: $f-body;
                                    font-size: 1rem;
                                    letter-spacing: 0;
                                    line-height: 1.375rem;
                                    text-align: center;
                                }

                                button {
                                    text-decoration: underline;
                                    font-weight: bold;
                                }
                            }
                        }
                    }

                    &-recover {
                        .recover-options {
                            @extend .card;

                            input[type=submit],
                            a {
                                width: 100%;
                                @extend .btn;
                            }
                        }
                    }
                }
            }
        }

        .section-register {
            @include tablet {
                display: none;

                &.active {
                    display: block;
                }
            }

            .invalidField {
                border: 1px solid #C60931;
                border-radius: 2px;
                background-color: rgba(198,9,49,0.15);
            }

            .error-msg{
                color: #c33;
                &:before {
                    content: "\F071";
                    font-weight: 600;
                    font-family: Font Awesome\ 5 Free;
                }
            }

            &>.register-options {
                @extend .card;
                margin-bottom: 10px;

                form {
                    fieldset {
                        label[for=pwd-progress-bar-validation] {
                            .hoverable-options {
                                position: relative;

                                i {
                                    width: 20px;
                                    height: 20px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 50%;
                                    text-align: center;
                                    color: white;
                                    font-style: normal;
                                    font-weight: bolder;
                                    background: $brand-secondary;
                                    font-size: 16px;
                                    letter-spacing: 0;
                                    line-height: 16px;
                                }

                                &:hover {
                                    #passwordRulesUL {
                                        transform: scale(1);
                                        z-index: 1;
                                        transition: all .2s ease-in-out;

                                    }
                                }

                                #passwordRulesUL {
                                    transform: scale(0);
                                    position: absolute;
                                    z-index: -1;
                                    transition: all .2s ease-in-out;
                                    bottom: 40px;
                                    left: -280px;
                                    list-style: none;
                                    margin: 0;
                                    padding: 0;
                                    width: 280px;
                                    border: 1px solid #F5F5F5;
                                    border-radius: 10px;
                                    background: #FFFFFF;
                                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
                                    padding: 16px 20px;
                                    font-size: 0.6875rem;

                                    .arrow {
                                        width: 50px;
                                        height: 25px;
                                        position: absolute;
                                        top: 100%;
                                        right: -19px;
                                        transform: translateX(-50%);
                                        overflow: hidden;

                                        &::after {
                                            content: "";
                                            position: absolute;
                                            width: 20px;
                                            height: 20px;
                                            background: white;
                                            transform: translateX(-50%) translateY(-50%) rotate(45deg);
                                            top: 0;
                                            left: 50%;
                                            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
                                        }
                                    }
                                }
                            }

                        }


                    }

                    input[type=checkbox] {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .alerta {
        @extend .status-card--tertiary;
        margin-bottom: 35px;
        flex-direction: row-reverse;
        justify-content: space-between;
        display: flex;
        
        @include tablet {
            margin-left: 15px;
            margin-right: 15px;
        }

        &.sucesso {
            @extend .status-card--secondary;
            display: flex;
            margin-bottom: 35px;
        }
        
        span  {
            cursor: pointer;
        }
    }
}

.action-register {
    .login-area   {
        .section-register {
            @include tablet {
                display: block;
            }
        }
    }
}

.help-section {
    margin-top: 80px; 
    margin-bottom: 60px; 
    text-align: center;
}