.controller-auth {
    background-color: var(--mc-gray-100);

    .mapas-card {
        padding: 25px 45px;

        &.no-title {
            .mapas-card__title {
                display: none;
            }
        }
    }

    // adds inner space on hover popper
    .v-popper__inner {
        padding: 3px 10px;
    }
}